# Parser for Orca Dihedrals

In [1]:
import cclib
import pybel
import glob
import os
import pandas as pd

In [2]:
elems = {1:'H', 6:'C', 7:'N', 8:'O', 9:'F'}

energies = []
for file in sorted(glob.iglob('dihedral/*/out/*.out.bz2')):
    molecule = file.split('.')[0].split('out/')[1].split('_')
    name = molecule[0]
    if name == 'sucrose':
        phi = 'nan'
        psi = 'nan'
        theta = molecule[1]

        data = cclib.io.ccread(file)
        # get energy 
        energy = data.scfenergies[0]

        # store in dict to append to list
        d = {}
        d.update({'name': name})
        d.update({'phi': phi})
        d.update({'psi': psi})
        d.update({'theta': theta})
        d.update({'energy': energy})
        energies.append(d)
    else:
        phi = molecule[1]
        psi = molecule[2]
        theta = 'nan'

        data = cclib.io.ccread(file)
        # get energy 
        energy = data.scfenergies[0]

        # store in dict to append to list
        d = {}
        d.update({'name': name})
        d.update({'phi': phi})
        d.update({'psi': psi})
        d.update({'theta': theta})
        d.update({'energy': energy})
        energies.append(d)

In [3]:
df = pd.DataFrame(energies)
df

         name   phi   psi theta        energy
0     ala-ala  -100  -100   nan -15534.900658
1     ala-ala  -100  -120   nan -15534.739239
2     ala-ala  -100  -140   nan -15531.340037
3     ala-ala  -100  -160   nan -15535.108399
4     ala-ala  -100  -180   nan -15534.326386
...       ...   ...   ...   ...           ...
1097  sucrose   nan   nan   180 -35230.313002
1098  sucrose   nan   nan    20 -35308.728028
1099  sucrose   nan   nan    40 -35303.921090
1100  sucrose   nan   nan    60 -35302.316484
1101  sucrose   nan   nan    80 -35305.172237

[1102 rows x 5 columns]

In [4]:
df.to_csv('../data/dft-data-dihedral.csv', index=False)